@page

@model IndexModel

@{

    ViewData["Title"] = "Página Inicial";

}



<div class="text-center">

    <h1 class="display-4">Hub de identificação</h1>

    <p>Aplicação de integração para funcionalidade de identificação de clientes.</p>

</div>

<hr>
<div>
    <br />Token autorization: <input class="col-12" type="text" id="tokenOauth" /><br /><br />
</div>
<div>
    <p>Realização de testes</p>
</div>

<div>

    <div class="container">

        <div class="row">

            <div class="col-12">

                <br />CPF/CNPJ: <input class="col-12" type="text" id="numDocInput" />
                <br />Agência: <input class="col-12" type="text" id="agenciaInput" />
                <br />Token Client: <input class="col-12" id="clientIdToken" />
                <br />Nome Client: <input class="col-12" id="clientNome" />
                <br />Aprovação LGPD: <input class="col-12" id="dataHora" />
                <br /><br />
                <input type="button" id="validateButton" value="Identificar cliente" />
            </div>

            <hr>

        </div>

        </br>



        <div class="row">

            <div class="col-3">

                <div class="row">Determine a prioridade</div>

                <input type="radio" name="prioridade" id="prioridade1" value="1" />
                <label for="forPrioridade">Preferencial 80+</label>
                <br />

                <input type="radio" name="prioridade" id="prioridade2" value="2" />
                <label for="forPrioridade">Preferencial</label>
                <br />

                <input type="radio" name="prioridade" id="prioridade3" value="3" />
                <label for="forPrioridade">Geral</label>
                <br />
            </div>

            <div class="col-4">

                <div class="row">Determine a categoria</div>

                <input type="radio" name="Categoria" id="categoria1" value="1" />
                <label for="uniclass_personnalite">sou uniclass/personnalité</label>
                <br />

                <input type="radio" name="Categoria" id="categoria2" value="2" />
                <label for="correntistaAmerica">sou correntista</label>
                <br />

                <input type="radio" name="Categoria" id="categoria3" value="3" />
                <label for="naotenhoconta">não tenho conta</label>
                <br />

                <input type="radio" name="Categoria" id="categoria4" value="4" />
                <label for="empresas">sou conta Mei</label>
                <br />

                <input type="radio" name="Categoria" id="categoria5" value="5" />
                <label for="empresas">sou conta empresa</label>
                <br />

                
            </div>

            <div class="col-3">

                <div class="row">Determine a serviço</div>

                <input type="radio" name="Servico" id="servico_1" value="servico_1" />
                <label for="servico_1">Servico 1</label>
                <br />

                <input type="radio" name="Servico" id="servico_2" value="servico_2" />
                <label for="servico_2">Serviço 2</label>
                <br />

                <input type="radio" name="Servico" id="servico_3" value="servico_3" />
                <label for="servico_3">Serviço 3</label>
                <br />
            </div>

            <div class="col-6">

                <input type="button" id="UpdateButton" value="Emitir senha" />

                <div class="row">

                </div>

            </div>

            <br /><br />
            <hr>

            <div class="row">

                <div class="col-12">

                    <p>Retorno</p>

                    <ul id="messagesList"></ul>

                </div>

            </div>

        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/microsoft/signalr/signalr.js"></script>
        <script src="~/js/hubIdentify.js"></script>       

    </div>