# exclude everything except directory foo/bar
    .vscode/*
	bin/*
	obj/*
	packages
HubIdentificacao/bin/*
HubIdentificacao/obj/*
HubIdentificacao/bin/Debug/
HubIdentificacao/wwwroot/lib/bootstrap/
HubIdentificacao/wwwroot/lib/bootstrap/dist/